@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@300&display=swap");
/* Referencia fuentes */
/* font-family: 'Orbitron', sans-serif;
   font-family: 'Roboto', sans-serif; */
/* Paleta de colores
    #58817D
    #32030D
    #be0029
    #163C3D
    #1c3844
    #7FA0B3
    #868686
    #FFFFFD
*/
* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../multimedia/image/fondo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1c3844;
}

/* Header - bootstrap */
.header__logo img {
  width: 70px;
  height: 70px;
}

.header__titulo--texto {
  font-family: 'Orbitron', sans-serif;
  color: #85b0f1 !important;
  font-size: 30px;
  text-shadow: 1px 2px #050505;
}

.glitch {
  font-family: 'Orbitron', sans-serif;
  color: #1c3844 !important;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 2500ms infinite;
}

.glitch span {
  font-family: 'Orbitron', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.header__iconres--background {
  background-image: url("../multimedia/image/density_medium_white_24dp.svg");
}

/* Menu */
.header__barra {
  /* background-color: rgb(12, 67, 88); */
  background-image: linear-gradient(-50deg, #1c3844, #58817D);
}

.header__barra .header__boton--posicion {
  padding-right: 20px;
  outline: none !important;
  border: none !important;
}

.header__link {
  font-family: 'Orbitron', sans-serif;
  color: #85b0f1;
  margin: 3px;
  height: 60px;
  text-shadow: 1px 2px #050505;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.4s;
}

.header__link:hover {
  color: red;
  border-bottom: 1px solid red;
}

.navbar-bar {
  text-align: right;
  margin-right: 30px;
}

/* carousel */
.carousel {
  width: 100%;
}

.carousel .carousel__items .carousel__img--size {
  width: 100%;
  height: 100%;
}

/* Titulos de las secciones */
.tituloSeccion {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: #be0029;
  text-shadow: 1px 2px #050505;
}

.seccion {
  border-top: 3px solid #32030D;
  border-bottom: 3px solid #32030D;
  background-color: #7fa0b367;
}

/* Formulario */
.formulario__contenido--estio {
  padding: 60px;
  max-width: 80%;
  height: auto;
  background-color: #163C3D;
  background: #FFFFFF;
  background: radial-gradient(ellipse at center, #FFFFFF 0%, #163C3D 79%, #000000 100%);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 17px;
  margin: 0 auto;
}

.formulario_Contacto--margen {
  margin: 0px auto;
}

.formulario_Contacto--color {
  color: red;
  border-radius: 10px;
}

form input, form textarea {
  margin-bottom: 15px;
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  color: red;
  font-size: 1em;
  resize: none;
}

.formulario__boton {
  display: flex;
  justify-content: center;
}

.formulario__boton--estilo {
  width: 17%;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-flex;
  cursor: pointer;
  color: #eb0000;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.formulario__boton--estilo:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.formulario__boton--estilo:active {
  position: relative;
  top: 1px;
}

select {
  width: 30%;
  height: 40px;
  size: 30px;
  color: red;
  align-items: center;
  padding-left: 80px;
}

textarea {
  resize: none;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* grid footer */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  justify-content: space-evenly;
  align-content: space-between;
  justify-items: center;
  grid-template-areas: "footerInfo footerInfo footerInfo" "footerCopy footerCopy footerCopy";
  justify-self: center;
  grid-area: footer;
  width: 100%;
  height: auto;
  background-color: #1c3844;
}

.footerInfo {
  display: grid;
  grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  gap: 2px 6px;
  grid-auto-flow: row;
  grid-template-areas: ". .           .          .            ." ". footerRedes footerMenu footerCorreo ." ". .           .          .            .";
  grid-area: footerInfo;
  width: 100%;
  height: auto;
}

.footerRedes {
  grid-area: footerRedes;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
}

.footerMenu {
  grid-area: footerMenu;
  display: grid;
  justify-content: center;
  width: 100%;
  height: auto;
}

#menuFondo li {
  list-style: square;
}

.footerMenu a {
  text-decoration: none;
  color: #7FA0B3;
  font-size: 20px;
}

.footerMenu a:hover {
  color: #be0029;
}

.footerCorreo {
  grid-area: footerCorreo;
  display: inline-flex;
  flex-wrap: nowrap;
  align-content: center;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.footerCorreo h4 {
  color: #be0029;
  text-shadow: 1px 1px 1px #050505;
  font-size: 20px;
}

#email {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  background-color: #7FA0B3;
  color: black;
}

#submit {
  background-image: url(../multimedia/image/send.png);
  background-size: cover;
  background-position: center center;
  background-color: #58817D;
  width: 50px;
  height: 30px;
  border-radius: 5px;
}

.footerCopy {
  background-color: #58817D;
  grid-area: footerCopy;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
}

.footerCopy p {
  color: #be0029;
  text-shadow: 1px 1px 1px #050505;
  font-size: 20px;
}

/* Titulos de las secciones */
.tituloSeccion {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: red;
  text-shadow: 1px 2px #050505;
}

.principal__titulo--estilo {
  color: red;
  text-shadow: 1px 2px #050505;
}

/* propiedades parrafo */
.principal__parrafo {
  color: #85b0f1;
  font-size: 25px;
  text-align: justify;
  letter-spacing: 1.5px;
}

.principal__parrafo .principal__parrafo--decoracion {
  color: #fae100;
  text-decoration: line-through;
}

.logo {
  width: 10%;
}

.logo img {
  width: 50%;
  padding-left: 20%;
}

p {
  font-size: 30px;
  color: #7FA0B3;
  text-align: justify;
}

/* Grid principal index */
.contenidoPrincipal {
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1% 0px;
  grid-auto-flow: row dense;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
  grid-template-areas: "mainPrincipal     mainPrincipal     mainPrincipal     mainPrincipal    " "seccionDestacados seccionDestacados seccionDestacados seccionDestacados" "seccionResenas    seccionResenas    seccionResenas    seccionResenas   ";
  width: 100%;
}

/* grid main */
.mainPrincipal {
  justify-self: center;
  grid-area: mainPrincipal;
  width: 100%;
}

.slider {
  width: 100%;
}

.slider img {
  width: 100%;
}

/* grid seccion destacados */
.seccionDestacados {
  display: grid;
  grid-template-columns: 0.2fr repeat(3, 1fr) 0.2fr;
  grid-template-rows: 0.4fr 2fr 0.2fr;
  gap: 5px 30px;
  grid-auto-flow: row dense;
  justify-content: center;
  justify-items: center;
  grid-template-areas: ". tituloDestacados tituloDestacados tituloDestacados ." ". destacado1       destacado2       destacado3       ." ". .                .                .                .";
  justify-self: center;
  grid-area: seccionDestacados;
  width: 100%;
  align-items: center;
}

.tituloDestacados {
  justify-self: center;
  grid-area: tituloDestacados;
  width: 80%;
  height: auto;
}

.videoDestacado {
  width: 100%;
  height: auto;
}

.destacado1 {
  grid-area: destacado1;
  width: 100%;
  height: auto;
}

.destacado2 {
  grid-area: destacado2;
  width: 100%;
  height: auto;
}

.destacado3 {
  grid-area: destacado3;
  width: 100%;
  height: auto;
}

/* grid seccion reseñas */
.seccionResenas {
  display: grid;
  grid-template-columns: 0.2fr repeat(3, 1fr) 0.2fr;
  grid-template-rows: 0.4fr 2fr 0.2fr;
  gap: 5px 30px;
  grid-auto-flow: row;
  grid-template-areas: ". tituloResenas tituloResenas tituloResenas ." ". resena1       resena2       resena3       ." ". .             .             .             .";
  justify-self: center;
  grid-area: seccionResenas;
  width: 100%;
  height: auto;
}

.tituloResenas {
  justify-self: center;
  grid-area: tituloResenas;
  width: 80%;
  height: auto;
}

.resena {
  background: #FFFFFF;
  background: #FFFFFF;
  background: radial-gradient(ellipse at center, #FFFFFF 0%, #163C3D 79%, #000000 100%);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 17px;
}

.resena:hover {
  color: red;
  text-shadow: 1px 2px black;
  border: 1px solid red;
  transform: scale(1.05);
  transition: all 0.8s;
}

.resena h4 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: #be0029;
  text-shadow: 1px 2px #050505;
  font-size: 20px;
  letter-spacing: 3px;
}

.resena1 {
  grid-area: resena1;
  width: 100%;
  height: auto;
}

.resena2 {
  grid-area: resena2;
  width: 100%;
  height: auto;
}

.resena3 {
  grid-area: resena3;
  width: 100%;
  height: auto;
}

/* grid servicios */
.contenidoServicios {
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
  grid-template-rows: 0.1fr 1fr 0.2fr;
  gap: 2% 0px;
  grid-auto-flow: row dense;
  grid-template-areas: ".                tituloServicios  tituloServicios  .               " "sectionServicios sectionServicios sectionServicios sectionServicios" ".                .                .                .";
  width: 100%;
  height: auto;
}

.tituloServicios {
  grid-area: tituloServicios;
  justify-self: center;
  width: 80%;
  height: auto;
}

.subtitulo {
  justify-content: center;
}

.descripcionSer {
  text-align: justify;
}

.sectionServicios {
  display: grid;
  grid-template-columns: 0.2fr repeat(4, 1fr) 0.2fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 4px 4px;
  grid-auto-flow: row;
  grid-template-areas: ". servicio1 servicio1 .         .         ." ". .         .         servicio2 servicio2 ." ". servicio3 servicio3 .         .         .";
  grid-area: sectionServicios;
}

.servicio {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #FFFFFF;
  background: radial-gradient(ellipse at center, #FFFFFF 0%, #163C3D 79%, #000000 100%);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 17px;
  align-content: center;
}

.servicio:hover {
  color: red;
  text-shadow: 1px 2px black;
  border: 1px solid red;
  transform: scale(1.08);
  transition: all 1s;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
}

.servicio h4 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: #be0029;
  text-shadow: 1px 2px #050505;
  font-size: 20px;
  letter-spacing: 3px;
}

.servicio img {
  width: 400px;
  height: 400px;
}

.servicio1 {
  grid-area: servicio1;
  width: 100%;
  height: auto;
}

.servicio2 {
  grid-area: servicio2;
  width: 100%;
  height: auto;
}

.servicio3 {
  grid-area: servicio3;
  width: 100%;
  height: auto;
}

/* grid productos */
.contenidoProductos {
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2% 0px;
  grid-auto-flow: row dense;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
  grid-template-areas: "mainProductos    mainProductos    mainProductos   " "seccionProductos seccionProductos seccionProductos";
  width: 100%;
  height: auto;
}

.mainProductos {
  justify-self: center;
  grid-area: mainProductos;
  width: 100%;
}

.mainProductos img {
  width: 100%;
}

.seccionProductos {
  display: grid;
  grid-template-columns: 0.2fr repeat(5, 1fr) 0.2fr;
  grid-template-rows: 0.4fr 2fr 0.2fr;
  gap: 5px 30px;
  grid-auto-flow: row dense;
  justify-content: center;
  justify-items: center;
  grid-template-areas: ". tituloProductos tituloProductos tituloProductos tituloProductos tituloProductos ." ". producto1       producto2       producto3       producto4       producto5       ." ". .               .               .               .               .               .";
  justify-self: center;
  grid-area: seccionProductos;
  width: 100%;
  height: auto;
}

.tituloProductos {
  justify-self: center;
  grid-area: tituloProductos;
  width: 80%;
  height: auto;
}

.producto {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #FFFFFF;
  background: radial-gradient(ellipse at center, #FFFFFF 0%, #163C3D 79%, #000000 100%);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 17px;
  align-content: center;
}

.producto:hover {
  color: red;
  text-shadow: 1px 2px black;
  border: 1px solid red;
  transform: scale(1.05);
  transition: all 0.8s;
}

.producto img {
  width: 300px;
  height: 300px;
}

.producto1 {
  grid-area: producto1;
  width: 100%;
  height: auto;
}

.producto2 {
  grid-area: producto2;
  width: 100%;
  height: auto;
}

.producto3 {
  grid-area: producto3;
  width: 100%;
  height: auto;
}

.producto4 {
  grid-area: producto4;
  width: 100%;
  height: auto;
}

.producto5 {
  grid-area: producto5;
  width: 100%;
  height: auto;
}

/* grid nosotros */
.contenidoNosotros {
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
  grid-template-rows: 0.1fr repeat(3, 1fr);
  gap: 2% 0px;
  grid-auto-flow: row;
  grid-template-areas: ".      tituloNosotros   tituloNosotros   .     " ".      articuloNosotros articuloNosotros .     " ".      articuloNosotros articuloNosotros .     " ".      .                .                .     ";
  width: 100%;
  height: auto;
}

.tituloNosotros {
  grid-area: tituloNosotros;
  justify-self: center;
  width: 80%;
  height: auto;
}

.articuloNosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "imagenNosotros descripcionNosotros descripcionNosotros" "imagenNosotros descripcionNosotros descripcionNosotros" "imagenNosotros descripcionNosotros descripcionNosotros";
  grid-area: articuloNosotros;
  width: 100%;
  height: auto;
}

.imagenNosotros {
  grid-area: imagenNosotros;
  width: 100%;
  height: auto;
}

.imagenNosotros__descripcion:hover {
  transform: scale(1.09);
  transition: all 0.8s;
}

.descripcionNosotros {
  grid-area: descripcionNosotros;
  width: 100%;
  height: auto;
}

.cajaNosotros {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #FFFFFF;
  background: radial-gradient(ellipse at center, #FFFFFF 0%, #163C3D 79%, #000000 100%);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 17px;
  align-content: center;
}

.cajaNosotros p {
  color: #32030D;
  font-weight: bold;
}

/* grid contacto */
.contenidoContacto {
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
  grid-template-rows: 0.1fr repeat(3, 1fr);
  gap: 2% 0px;
  grid-auto-flow: row;
  grid-template-areas: ".      tituloContacto    tituloContacto    .     " "mapa   mapa              mapa              mapa  " ".      fomularioContacto fomularioContacto .     " ".      fomularioContacto fomularioContacto .     ";
  width: 100%;
  height: auto;
}

.tituloContacto {
  grid-area: tituloContacto;
  justify-self: center;
  width: 80%;
  height: auto;
}

.mapa {
  grid-area: mapa;
  width: 100%;
  height: 400px;
}

.mapa iframe {
  width: 100%;
  height: 400px;
}

.fomularioContacto {
  grid-area: fomularioContacto;
  width: 100%;
  height: 1000px;
}
