/* Titulos de las secciones */
.tituloSeccion{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #be0029;
    text-shadow: 1px 2px rgb(5, 5, 5);
}

.seccion{
    border-top: 3px solid #32030D;
    border-bottom: 3px solid #32030D;
    background-color: #7fa0b367;
}